--- !ruby/object:Study
  studyid: ABC1
  treatments:
  - Placebo
  - Treatment A
  - Treatment B
  - Treatment C
  treatment_codes:
  - PBO
  - TRTA
  - TRTB
  - TRTC
  treatment_ratios:
  - 0.25
  - 0.25
  - 0.25
  - 0.25
  total_subjects: 100
  num_visits: 6
  visit_duration: 7
  visit_unit: week
  age_range:
  - 18
  - 65
  sites:
  - - FRA
    - Paris
    - Nice
  - - DEU
    - Berlin
  - - GBR
    - London
    - Manchester
  ref_date: 2014-03-01T00:00:00+00:00
  discontinue_proportion: 0.2
