--- !ruby/object:Study
  studyid: "ABC001"
  treatments:
  - Placebo
  - Treatment 10mg
  - Treatment 50mg
  - Treatment 100mg
  treatment_codes:
  - PBO
  - TRTA
  - TRTB
  - TRTC
  treatment_ratios:
  - 0.25
  - 0.25
  - 0.25
  - 0.25
  treatment_doses:
  - 0
  - 10
  - 20
  - 50
  total_subjects: 100
  num_visits: 6
  visit_duration: 14
  visit_unit: week
  age_range:
  - 18
  - 65
  sites:
  - - FRA
    - Paris
    - Nice
    - Vannes
  - - DEU
    - Mannheim
    - Monheim
    - Munich
  - - GBR
    - London
    - Oxford
    - York
    - Cardiff
  - - ESP
    - Madrid
    - Málaga
    - Oviedo
    - Lalín
  - - IRL
    - Athlone
    - Limerick
    - Dungarvan
    - Cork
  - - AUT
    - Vienna
    - Salzburg
  - - ITA
    - Rome
    - Florence
    - Imperia
  - - BEL
    - Geel
  ref_date: 2014-03-01T00:00:00+00:00
  screen_fail_weight: 0.1
  screening_days: 14
  discontinue_weight: 0.2 # proportion of those who do not screen fail
  mean_aes_per_year:
  - 20
  - 22
  - 24
  - 35
  default_mean_aes_per_year: 20
  ae_serious_weight:
  - 0.1
  - 0.1
  - 0.12
  - 0.18
  default_ae_serious_weight: 0.1
  ae_severity_weights: # mild, moderate, severe for each treatment group
  - - 0.8
    - 0.15
    - 0.05
  - - 0.9
    - 0.05
    - 0.05
  - - 0.75
    - 0.15
    - 0.1
  - - 0.75
    - 0.15
    - 0.1
  default_ae_severity_weights:
  - - 0.8
    - 0.15
    - 0.05