ALB:
  LBTEST: Albumin
  LBSTNRLO: 3.4
  LBSTNRHI: 4.7
  LBSTRESU: g/dL
  PRECISION: 1
  # SHIFT_MEAN: 0

BUN:
  LBTEST: Blood Urea Nitrogen (BUN)
  LBSTNRLO: 8
  LBSTNRHI: 20
  LBSTRESU: mg/dL
  PRECISION: 1
  # SHIFT_MEAN: 0

CA:
  LBTEST: Calcium
  LBSTNRLO: 8.5
  LBSTNRHI: 10.5
  LBSTRESU: mg/dL
  PRECISION: 2
  SHIFT_MEAN: # treatment raises abnormally low CA
  - -1
  - -0.5
  - 0.1
  - 1.5

GLUC:
  LBTEST: Glucose # treatment raises normal GLUC
  LBSTNRLO: 60
  LBSTNRHI: 115
  LBSTRESU: mg/dL
  PRECISION: 1
  SHIFT_MEAN:
  - 0
  - 5
  - 10
  - 40
